/* Card Margins */
.card-margin {
  margin-left: 10px; /* Adjust the value as needed */
}

/* Card Hover Effect */
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow on hover */
  transform: translateY(-5px); /* Move the card slightly upwards on hover */
}

/* Selected Card Styling */
.selected {
  border: 3px solid red; /* Add red border to the selected card */
}

/* Text Alignment */
.card-text {
  text-align: center; /* Center align text within cards */
}

/* Light Theme */
.light {
  --primary-color: #5E7B9B;
  --secondary-color: #ECEBEB;
  --accent-color: #B8EBE7;
}

.light .card {
  background-color: var(--secondary-color); /* Apply secondary color as background */
}

/* Dark Theme */
.dark {
  --primary-color: #2F7F9E;
  --secondary-color: #4C595E;
  --accent-color: #141F24;
}

.dark .card {
  background-color: var(--primary-color); /* Apply primary color as background */
  color: white; /* Set text color to white */
}

/* Colourful Theme */
.colourful {
  --primary-color: #01A5F3;
  --secondary-color: #F301A5; 
  --accent-color: #A5F301;
}

.colourful .card {
  background-color: var(--primary-color); /* Apply primary color as background */
}
