@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');

.textAnimation p {
  font-family: "League Spartan", sans-serif;
  font-size: 2em;
  overflow: hidden; 
  white-space: nowrap;
  animation: typing 2.6s steps(1000, end); 
}

@keyframes typing {
  from {
    width: 0; 
  }
  to {
    width: 100%; 
  }
}

.homeLogo, img {
  max-width: 50%;
  max-height: 80%;
}

.getStarted button {
  width: 400px;
  height: 70px !important;
  font-family: "League Spartan" !important;
  font-size: 1.6em !important;
  border-radius: 40px !important;
  background-color: red !important;
  transition: background-color 0.8s ease, color 0.8s ease;
  border-style: none !important;
}

.getStarted button:hover {
  background: none !important;
  color: black !important;
  border-style: none !important;
}
