/*Navbar styles
.navbar {
  margin-bottom: 40px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
/* .navbar-brand img {
  max-height: 450px;
  padding-left: 50px; } */

/* Navbar links styles */
.navbar-nav {
  flex-direction: row;
}

/* .navbar-nav .nav-link {
  padding-right: 10px;
}  */ 

.navigation {
  display: flex !important;
  justify-content: center !important;
  background: transparent !important;
}

.navbar .container {
  background-color: none !important;
  align-items: center;
}

a.nav-link {
font-size: 2em !important;
}
