/* VideoBackground.css */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the video stays behind other content */
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; /* Ensure the video covers the entire container */
}
