/* App container */
.App {
  position: relative;
}

body {
  font-family: 'League Spartan', sans-serif !important;
  margin: auto;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.main-content {
  position: relative;
  z-index: 1;
}

body .btn-gtw {
  background-color: #d80202;
  color: #fff;
  border: none;
  outline: none;
}

body .btn-gtw:hover {
  background-color: #bc0000;
  color: #fff;
  border: none;
  outline: none;
}

.footer-icon {
  font-size: 24px;
  color: #d80202;
  margin-right: 10px;
}

@media (max-height: 750px) {
  .footer {
    display: none;
  }
}
