/* App container */
.App {
  position: relative;
}

body {
  font-family: 'League Spartan', sans-serif !important;
}

/* Video background */
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind other content */
}

/* Main content */
.main-content {
  position: relative; /* Ensure the main content sits on top of the video */
  z-index: 1; /* Ensure the main content is above the video */
}

/* Define styles for Bootstrap buttons */
body .btn-primary {
  background-color: #d80202;
  border: none;
}

body .btn-primary:hover {
  background-color: #bc0000;
  border: none;
}

/* Footer Icon Styling */
.footer-icon {
  font-size: 24px; /* Adjust the size as needed */
  color: #d80202; /* Set the color */
  margin-right: 10px;
}


/* MEDIA QUERIES */

@media (max-height: 970px) {
  .footer {
    display: none;
  }
}
